<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="scrollable-element">
        {% for post in posts %}
            
        {% endfor %}
    </div>
    <div id="sentinel"></div>
</body>
</html>

<script>
    document.addEventListener("DOMcontentLoaded",() => {
        let sentinel = document.getElementById("sentinel");
        let observer = new IntersectionObserver((entries) => {
            entry = entries[0];
            if (entry.intersetctionRatio > 0){
                alert("This happened");
            }
        })
        observer.observe(sentinel);
    } )
</script>